extends layout

block content
    .container
        .page-header
            h1 Serviço de Consulta de CEP
        .row
            .alert.alert-warning#error-container(role='alert')
            .input-group.input-group-lg
                input.form-control#txt-cep(type='text', placeholder='digite seu CEP aqui')
                span.input-group-btn
                    button.btn.btn-default#btn-search(type='button') Pesquisar
    .container
        h2 HTTP Get
        .row
            pre
                span GET /cep/:cep HTTP/1.1
                br
                span Host: localhost:3000

    .container#container-results
        h2 Resultados
        .row
            table.table
                tr
                    th CEP
                    th Logradouro
                    th Bairro
                    th Cidade
                    th UF
                tr
                    td#td-cep
                    td#td-logradouro
                    td#td-bairro
                    td#td-cidade
                    td#td-uf
        h2 JSON
        .row
            pre#json-data